.todayonlywrapper{
    /* position: relative; */
    overflow-x: visible;
}
.todayonlycontainer{
    width: 78%;
    margin: auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: #40209b;
    border: 2px solid #f9bdff;
    border-radius: 15px;
    position: relative;
    overflow-x: visible;
}
.todayonlyheading{
    position: absolute;
    top: -17px;
    /* margin: auto; */
    background-color: white;
    padding: 0 20px;
}
.todaydiscount{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.goldenhour{
    /* width: 50%; */
    width: 44%;
    background-color: #fcf5ed;
    border-radius: 15px;
    margin: 2rem;
    padding: 78px 40px;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: center;
    position: relative;
    overflow-x: visible;

}
.goldenhourdetails{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mainbtn{
    background-color: #eed7b3;
    padding: 1rem;
    text-align: center;
    width: 11rem;
    border-radius: 50px;
}
.percentage{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.percentage h1{
    font-size: 80px;
    font-weight: 600;
    /* line-height: 70px; */
}
.percentage div{
    display: flex;
    flex-direction: column;
}
/* todaybtn{
    wid;
} */
.percentage p{
    font-weight: bolder;
    font-size: larger;
}
.goldenhourimg{
    position: absolute;
    margin: 20px;
    right: -50px;
    width: 220px;
    overflow-x:none;
    /* height: 304px; */
    z-index: 5;
}
.goldenhourimg img{
    width: 100%;
    object-fit: cover;
}
.flashsale{
    width: 95%;
    background-color: #edf8fe;
    border-radius: 15px;
    margin: 2rem;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    position: relative;
}
.flashsaleimg{
    position: absolute;
    right: 16px;
    width: 220px;
    /* height: 304px; */
    z-index: 5;
}
.flashsaleimg img{
    width: 100%;
    object-fit: cover;
}
