.card{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}
.card:hover .leftslide{
    opacity: 1;

}
.card:hover .rightslide{
    opacity: 1;
}
.leftslide:hover{
    color: #40209b;
    background-color: #f9bcff;
}
.rightslide:hover{
    color: #40209b;
    background-color: #f9bcff;
}
.leftslide{
    cursor: pointer;
    background-color: #40209b;
    border-radius: 50%;
    padding:1.3rem;
    display: flex;
    color:#f9bcff;
    position: absolute;
    top: 39%;
    left: 4%;
    opacity: 0;
    z-index: 10;
}
.rightslide{
    cursor: pointer;
    background-color: #40209b;
    border-radius: 50%;
    padding:1.3rem;
    display: flex;
    color:#f9bcff;
    position: absolute;
    top: 39%;
    right: 4%;
    opacity: 0;
    z-index: 10;
}
.singlecardwrapper{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* transition: all 0.5s ease; */
}
.discount{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 4rem;
    height: 4rem;
    background-color: #bdfff3;
    border-radius: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.imgcontainer{
    width: 100%;
    height: 30rem;
}
.imgcontainer img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 1s ease;
}
.firstimage{
    position: absolute;
    z-index: 1;
    opacity: 1;
    /* transition: opacity 10s ease; */
}
.secondimage{
    position: absolute;
    z-index: 0;
    opacity: 0;
    /* transition: opacity 10s ease; */
}
.addtocartbtn{
    Opacity: 0;
    background-color: #40209b;
    border-radius: 5px;
    /* margin: px auto; */
    padding: 13px;
    width: 100%;
    color: white;
    text-align: center;
    transition: opacity 1s ease;
}
.singlecardwrapper:hover .firstimage{
    z-index: 0;
    opacity: 0;
}
.singlecardwrapper:hover .secondimage{
    z-index: 1;
    Opacity: 1;
}
.singlecardwrapper:hover .addtocartbtn{
    opacity: 1;
    cursor: pointer;
}
@media (max-width: 370px) {
    .card {
      flex-wrap: wrap;
    }
    .singlecardwrapper {
      width: 100%;
    }
    .singlecardwrapper:not(:first-child) {
        display: none;
    }
    .singlecardwrapper .addtocartbtn{
        opacity: 1;
    }
  }