.limitedtimewrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    /* height: 893px; */
    /* border: 2px solid darkcyan; */
}
.limitedtimecontainer{
    width: 78%;
    margin: auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1.5rem;
    color: #40209b;
}
.limitedofferheading{
    font-size: larger;
    font-weight: bold;
}
.limitedoffersub-heading{
    font-weight: bold;
}
.cards{
    /* padding: 1.25rem; */
    margin-top: 3rem;
    width: 100%;
    /* position: relative; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}


@media (max-width: 800px) {
    .limitedtimecontainer {
        width: 90%;          /* Increase width to 90% */
        padding: 0;         /* Remove padding for a more compact layout */
        font-size: 12px;    /* Set font size to 12px for smaller text */
    }

    .limitedofferheading {
        font-size: 1.5em;   /* Adjust font size if necessary for smaller screens */
    }

    .limitedoffersub-heading {
        font-size: 1.2em;   /* Adjust font size if necessary for smaller screens */
    }
}
